div.sdmenu {
	width: 200px;
	font-family: "·s²Ó©úÅé",  Arial, sans-serif;
	font-size: 11px;
	padding-bottom: 20px;

}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-size: 12px;
	
	color: #003d5e;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #004c9b;
	display: block;
	color: #fff;
	text-decoration:none;
}
div.sdmenu div a.current {
	/*background : #ccc;*/
	color: #FFF;
	padding: 5px 10px;
}
div.sdmenu div  a:visited
{
	padding: 5px 10px;
	background: #004c9b;
	display: block;
	color: #fff;
	text-decoration:none;
}
div.sdmenu div a:hover {
	padding: 5px 10px;
	background : #0090ff url(linkarrow.gif) no-repeat right center;
	color: #fff;
	text-decoration: none;
}
